.checklist {
    --background: #ffffff;
    --text: #242629;
    --check: #4F29F0;
    --disabled: #C3C8DE;
    --width: 80vw;
    --height: 75vh;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(#414856, 0.05);
    padding: 30px 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    align-items: center;
}

.item {
    color: var(--text);
    padding: 50px;
    border-bottom: 1px solid black;
}

.item:hover {
    box-shadow:10px 10px;
}
